<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>CTF-2020 ⋅ Voting Zone</title>
    <link rel="stylesheet" href="/assets/css/vote.css?1" />
  </head>
  <body>
    <div class="container mt-5 mb-5">
      <h1>CTF-2020</h1>
      <p>Добро пожаловать на сайт голосования Экспертного совета Национальной киберпремии «CTF-2020» в области информационной безопасности!</p>
      
      <h2>Меры безопасности</h2>

      <p>Перед участием в голосовании наденьте маску и перчатки. Напоминаем вам, что отказ от использования СИЗ при голосовании является административным правонарушением (ст. 6.3 КоАП РФ).</p>

      <p>Оргкомитет Премии принимает все доступные технические меры для обеспечения анонимности голосования, вместе с тем пытаясь сохранить его удобство для пользователей.</p>

      <p>Вы можете использовать любые доступные вам средства анонимизации при участии в голосовании. Также вы можете отключить JavaScript в браузере: это не повлияет на возможность голосования, но сделает его менее удобным — мы храним ваши токены в Local Storage вашего браузера, чтобы вам не приходилось вводить их вручную.</p>

      <p>На данном сайте отключено логгирование запросов, он не использует cookie-файлы. С исходным кодом сервера вы можете ознакомиться <a href="https://github.com/kappactf/premia-vote">здесь</a>.</p>

      <p><a href="/dashboard" class="btn btn-primary">Продолжить</a></p>

      <p class="text-muted">&copy; Kappa CTF 2020</p>
    </div>
  </body>
</html>
